
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_LayoutManga.cshtml";
}
<div id="login" data-target-group="idForm">
    <div class="Thongbao">
    @ViewBag.Thongbao
         </div>
    <header class="border-bottom px-4 px-md-6 py-4">
        <h2 class="font-size-3 mb-0 d-flex align-items-center"><i class="flaticon-user mr-3 font-size-5"></i>Tài Khoản</h2>
    </header>

    @using (Html.BeginForm("Dangnhap", "Auth"))
    {
        <div class="p-4 p-md-6">

            <div class="form-group mb-4">
                <div class="js-form-message js-focus-state">
                    <label id="signinEmailLabel" class="form-label" for="signinEmail">Email</label>
                    <div class="input-wrapper">
                        <i class="fas fa-envelope"></i>
                        <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail" placeholder="Nhập Email" aria-label="Nhập Email" aria-describedby="signinEmailLabel" required>
                        @ViewData["Loi1"]
                    </div>
                </div>
            </div>


            <div class="form-group mb-4">
                <div class="js-form-message js-focus-state">
                    <label id="signinPasswordLabel" class="form-label" for="signinPassword">Mật Khẩu</label>
                    <div class="input-wrapper">
                        <i class="fas fa-lock"></i>
                        <input type="password" class="form-control rounded-0 height-4 px-4" name="password" id="signinPassword" placeholder="Nhập Mật Khẩu" aria-label="Nhập Mật Khẩu" aria-describedby="signinPasswordLabel" required>
                        @ViewData["Loi2"]
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between mb-5 align-items-center">

                <div class="js-form-message">
                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                        <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required>
                        <label class="custom-control-label" for="termsCheckbox">
                            <span class="font-size-2 text-secondary-gray-700">
                                Ghi nhớ đăng nhập
                            </span>
                        </label>
                    </div>
                </div>

                <a class="text-dark font-size-2 t-d-u link-muted font-weight-medium" href="/Auth/Quenmatkhau">Quên Mật Khẩu</a>
            </div>
            <div class="mb-4d75">
                <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Đăng Nhập</button>
            </div>
            <div class="mb-2">
                <a href="/Auth/Dangky" class="btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium">Đăng Ký Ngay</a>
            </div>
        </div>
        <div class="loginbtn">
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </div>
    }
</div>
