<div class="list-group">
    @foreach (var theloai in Model)
    {
        <a href="@Url.Action("Truyentheotheloai","Auth", new {id = theloai.MaTL})" class="list-group-item"> @theloai.TenTL</a>

    }
</div>

