
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left: 400px; margin-top: 200px;">
    <h2 style="color: red; font-size: 60px"> __Trang Dành Cho Admin__ </h2>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"><== Hãy Lựa Chọn Kiểu Quản Lý</button>
    <img src="~/assets/img/6368811.png" style="height: 300px;margin-top: 20px; margin-left: 180px" />

</div>
    