
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="shortcut icon" href="~/assets/Logo2.ico">
    <link rel="icon" href="~/assets/Logo2.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <link href="~/Content/Admin.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container h-80">
        <div class="row align-items-center h-100">
            <div class="col-3 mx-auto">
                <div class="text-center">
                    <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)

                <div class="form-signin">
                    <input type="text" name="txtuser" id="inputUsername" class="form-control form-group" placeholder="Admin" required autofocus>
                    @ViewData["Loi1"]
                    <input type="password" name="txtpass" id="inputPassword" class="form-control form-group" placeholder="Mật khẩu" required autofocus>
                    @ViewData["Loi2"]
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng Nhập</button>
                </div>
                    }<!-- /form -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
