
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Liên Hệ Với Chúng Tôi | Manga World</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/assets/Logo2.ico">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/vendor/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="../../assets/css/theme.css">
</head>
@RenderBody()
<body>
    <div class="page-header border-bottom mb-8">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4">
                <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Liên Hệ Với Chúng Tôi</h1>
                <nav class="woocommerce-breadcrumb font-size-2">
                    <a href="/Body/Index" class="h-primary">Trang Chủ</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                    <a href="/ContactUs/Index" class="h-primary">Liên Hệ Với Chúng Tôi</a>
                </nav>
            </div>
        </div>
    </div>



    <main id="content">
        <div class="py-3 py-lg-7">
            <h6 class="font-weight-medium font-size-7 text-center my-1">Liên Hệ Với Chúng Tôi</h6>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8359919942395!2d106.68940575092832!3d10.8238601922515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f1b76f9fed%3A0x4c73436d7210e287!2zNDk3IMSQLiBQaGFuIFbEg24gVHLhu4ssIFBoxrDhu51uZyA1LCBHw7IgVuG6pXAsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2sin!4v1656572984351!5m2!1sen!2sin" height="500" style="border:0; width:100%;" allowfullscreen=""></iframe>
        <div class="container">
            <div class="space-bottom-1 space-bottom-lg-2">
                <div class="pb-4">
                    <div class="col-lg-8 mx-auto">
                        <div class="bg-white mt-n10 mt-md-n13 pt-5 pt-lg-7 px-3 px-md-5 pl-xl-10 pr-xl-3">
                            <div class="ml-xl-4">
                                <div class="mb-4 mb-lg-7">
                                    <h6 class="font-weight medium font-size-10 mb-4 mb-lg-7">Thông Tin Liên Hệ</h6>
                                    <p class="font-weight-medium font-italic">
                                        Chúng tôi sẽ hỗ trợ trả lời bất kỳ câu hỏi nào của bạn về bán hàng trực tuyến, quyền hoặc dịch vụ của chúng tôi ngay tại đây.
                                    </p>
                                </div>
                                <div class="mb-4 mb-lg-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h6 class="font-weight-medium font-size-4 mb-4">Nhóm 7</h6>
                                            <address class="font-size-2 mb-5">
                                                <span class="mb-2 font-weight-normal text-dark">
                                                    Đề Tài : MangaWorld ( Website Bán Truyện ) <br />  Liên Hệ Với Admin
                                                </span>
                                            </address>
                                            <div>
                                                <a href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act" class="font-size-2 d-block link-black-100 mb-1">hoangdanghuy222@gmail.com</a>
                                                <a href="tel:0836841560" class="font-size-2 d-block link-black-100">+84 0836841560</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5 mb-xl-9 pb-xl-1">
                                    <h6 class="font-size-4 font-weight-medium">Phương Tiện Truyền Thông</h6>
                                    <ul class="list-unstyled mb-0 d-flex">
                                        <li class="btn pl-0">
                                            <a class="link-black-100" href="https://www.instagram.com/_emoghl/">
                                                <span class="fab fa-instagram"></span>
                                            </a>
                                        </li>
                                        <li class="btn">
                                            <a class="link-black-100" href="https://www.facebook.com/huydang2805/">
                                                <span class="fab fa-facebook-f"></span>
                                            </a>
                                        </li>
                                        <li class="btn">
                                            <a class="link-black-100" href="https://twitter.com/Zen_Habuto">
                                                <span class="fab fa-twitter"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h6 class="font-weight-medium font-size-10 mb-3 pb-xl-1">Liên Lạc</h6>
                                    <form class="js-validate" novalidate="novalidate">
                                        <div class="row">

                                            <div class="col-sm-6 mb-5">
                                                <div class="js-form-message">
                                                    <label for="exampleFormControlInput1">Họ Và Tên</label>
                                                    <input id="exampleFormControlInput1" type="text" class="form-control rounded-0" name="name" aria-label="Jack Wayley" required="" data-error-class="u-has-error" data-msg="Please enter your name." data-success-class="u-has-success">
                                                </div>
                                            </div>


                                            <div class="col-sm-6 mb-5">
                                                <div class="js-form-message">
                                                    <label for="exampleFormControlInput2">Email</label>
                                                    <input id="exampleFormControlInput2" type="email" class="form-control rounded-0" name="email" aria-label="jackwayley@gmail.com" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                                </div>
                                            </div>

                                            <div class="col-sm-12 mb-5">
                                                <div class="js-form-message">
                                                    <label for="exampleFormControlInput3">Tiêu Mục</label>
                                                    <input id="exampleFormControlInput3" type="email" class="form-control rounded-0" name="email" aria-label="jackwayley@gmail.com" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mb-5">
                                                <div class="js-form-message">
                                                    <div class="input-group flex-column">
                                                        <label for="exampleFormControlInput4">Chi tiết về phản hồi của bạn.</label>
                                                        <textarea id="exampleFormControlInput4" class="form-control rounded-0 pl-3 font-size-2 placeholder-color-3" rows="6" cols="77" name="text" placeholder="Bạn cảm thấy thế nào ? phản hồi của bạn " aria-label="Hi there, I would like to ..." required="" data-msg="Please enter a reason." data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col d-flex justify-content-lg-start">
                                                <button type="submit" class="btn btn-wide btn-dark text-white rounded-0 transition-3d-hover height-60">Gửi Tin Nhắn</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="site-footer_v7">
        <div class="space-1 space-lg-3 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="mb-5 mb-lg-0">
                            <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Thông Tin</h4>
                            <address class="font-size-2 mb-5">
                                <span class="mb-2 font-weight-normal text-white">
                                    497 Phan Van Tri , Go Vap  <br> VietNam
                                </span>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="mb-5 mb-lg-0">
                            <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Liên Hệ</h4>
                            <div class="mb-4">
                                <a href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act" class="font-size-2 d-block mb-1 text-white">hoangdanghuy222@gmail.com</a>
                                <a href="tel:0836841560" class="font-size-2 d-block text-white">
                                    0836841560
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="mb-5 mb-lg-0">
                            <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Theo Dõi</h4>
                            <ul class="list-unstyled mb-0 d-flex">
                                <li class="btn pl-0">
                                    <a class="text-white" href="https://www.instagram.com/_emoghl/">
                                        <span class="fab fa-instagram"></span>
                                    </a>
                                </li>
                                <li class="btn">
                                    <a class="text-white" href="https://www.facebook.com/huydang2805/">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li class="btn">
                                    <a class="text-white" href="https://twitter.com/Zen_Habuto">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3 bg-black">
            <div class="container py-1">
                <div class="d-md-flex text-center text-md-left justify-content-between align-items-center">

                    <p class="mb-3 mb-lg-0 font-size-2 text-gray-500">©2022 MangaWorld . Thiên Đường Truyện Tranh</p>

                    <div class="d-md-flex justify-content-md-end align-items-center">

                        <select class="js-select selectpicker dropdown-select" data-style="bg-transparent border-0 text-gray-500 px-4 py-2 rounded-0 height-5 outline-none shadow-none form-control font-size-2" data-dropdown-align-right="true">
                            <option value="one" selected>Hoàng Đăng Huy (Nhóm 7)</option>
                            <option value="two">Vũ Luân</option>
                            <option value="three">Công Minh</option>
                            <option value="four">Phạm Vũ</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="../../assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="../../assets/vendor/slick-carousel/slick/slick.min.js"></script>
    <script src="../../assets/vendor/multilevel-sliding-mobile-menu/dist/jquery.zeynep.js"></script>
    <script src="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/js/components/hs.unfold.js"></script>
    <script src="../../assets/js/components/hs.malihu-scrollbar.js"></script>
    <script src="../../assets/js/components/hs.header.js"></script>
    <script src="../../assets/js/components/hs.slick-carousel.js"></script>
    <script src="../../assets/js/components/hs.selectpicker.js"></script>
    <script src="../../assets/js/components/hs.show-animation.js"></script>


    <script>
        $(document).on('ready', function () {
            // initialization of unfold component
            $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

            // initialization of slick carousel
            $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

            // initialization of header
            $.HSCore.components.HSHeader.init($('#header'));

            // initialization of malihu scrollbar
            $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

            // initialization of show animations
            $.HSCore.components.HSShowAnimation.init('.js-animation-link');

            // init zeynepjs
            var zeynep = $('.zeynep').zeynep({
                onClosed: function () {
                    // enable main wrapper element clicks on any its children element
                    $("body main").attr("style", "");

                    console.log('the side menu is closed.');
                },
                onOpened: function () {
                    // disable main wrapper element clicks on any its children element
                    $("body main").attr("style", "pointer-events: none;");

                    console.log('the side menu is opened.');
                }
            });

            // handle zeynep overlay click
            $(".zeynep-overlay").click(function () {
                zeynep.close();
            });

            // open side menu if the button is clicked
            $(".cat-menu").click(function () {
                if ($("html").hasClass("zeynep-opened")) {
                    zeynep.close();
                } else {
                    zeynep.open();
                }
            });
        });
    </script>
</body>
</html>
