<header id="site-header" class="site-header__v8">
    <div class="masthead position-relative" style="margin-bottom: -1px;">
        <div class="container-fluid px-3 px-md-5 px-xl-8d75 py-3 pb-xl-0 bg-transparent">
            <div class="d-flex align-items-center position-relative flex-wrap">
                <div class="site-branding pr-2 mr-1">
                    <a>
                        <img src="~/assets/img/Logo.png" style="max-width: 300px;" class="d-block mb-2" />

                    </a>
                </div>
                <div class="site-navigation mr-auto d-none d-xl-block">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                        <li class="nav-item"><a href="/Body/Index" class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium">Trang Chủ</a></li>
                        <li class="nav-item dropdown">
                        <li class="nav-item"><a href="/AboutUs/Index" class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium">Giới Thiệu</a></li>
                        <li class="nav-item dropdown">
                        <li class="nav-item"><a href="/Kind/Index" class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium">Thể Loại</a></li>
                        <li class="nav-item dropdown">
                        <li class="nav-item"><a href="/ContactUs/Index" class="nav-link link-black-100 mx-4 px-0 py-5 font-weight-medium">Liên Hệ</a></li>
                    </ul>
                </div>
      
                <ul class="nav align-self-center ml-auto ml-xl-0">
                    <li class="glph-icon flaticon-user font-size-4" data-toggle="dropdown"></li>
                    <li class="dropdown-menu">
                        <a href="/Auth/Dangnhap" class="dropdown-item">Đăng Nhập</a>
                        <a href="/Auth/Dangky" class="dropdown-item">Đăng Ký </a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:document.getElementById('logoutForm').submit()"style=" padding: 3px 35px;">Thoát</a>
                    </li>
                </ul>
          </div>
        </div>
    </div>
</header>
<div class="bg-gray-200 py-5 py-lg-8"style=" background-color: #ffffff;">
    <div class="container my-lg-1">
        <div class="row">
            <div class="col-wd-8"style=" max-width: 100%;">
                <div class="bg-white mb-6 mb-wd-0 h-100 "style="background-color: #c1b6b638;">
                    <div class="px-3 px-lg-8 py-8 py-lg-5 space-top-xl-4">
                        <div class="js-slick-carousel u-slick" data-pagi-classes="text-center u-slick__pagination u-slick__pagination mb-0 mt-3 mt-lg-5" data-arrows-classes="d-none d-lg-block u-slick__arrow u-slick__arrow--v2 u-slick__arrow-centered--y" data-arrow-left-classes="flaticon-back u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n5 ml-xl-n7" data-arrow-right-classes="flaticon-next u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n5 mr-xl-n7">
                            <div class="pt-xl-2">
                                <div class="row mx-0 mx-md-3">
                                    <div class="col-lg-8 col-wd-6">
                                        <div class="media d-block d-lg-flex">
                                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                                <h6 class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">THE MANGA WORLD</h6>
                                                <h2 class="font-size-12 mb-3 pb-1" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                                    <span class="hero__title-line-1 font-weight-regular d-block text-primary">Kho Tàng Truyện  </span>
                                                    <span class="hero__title-line-2 font-weight-bold d-block">Giới Thiệu</span>
                                                </h2>
                                                <a href="/AboutUs/Index" class="banner_btn btn btn-wide bg-dark rounded-0 text-white" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Xem Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="400">
                                        <img src="~/assets/img/ImagesHeader/bg3.png" class="img-fluid" alt="image-description">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-xl-2">
                                <div class="row mx-0 mx-md-3">
                                    <div class="col-lg-8 col-wd-6">
                                        <div class="media d-block d-lg-flex">
                                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                                <h6 class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">THE MANGA WORLD</h6>
                                                <h2 class="font-size-12 mb-3 pb-1" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                                    <span class="hero__title-line-1 font-weight-regular d-block text-primary">Phong Phú Và Đa Dạng </span>
                                                    <span class="hero__title-line-2 font-weight-bold d-block">Về Thể Loại</span>
                                                </h2>
                                                <a href="/Kind/Index" class="banner_btn btn btn-wide bg-dark rounded-0 text-white" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Tìm Hiểu Ngay</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="400">
                                        <img src="~/assets/img/ImagesHeader/bg4.png" class="img-fluid" alt="image-description">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-xl-2">
                                <div class="row mx-0 mx-md-3">
                                    <div class="col-lg-8 col-wd-6">
                                        <div class="media d-block d-lg-flex">
                                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                                <h6 class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">THE MANGA WORLD</h6>
                                                <h2 class="font-size-12 mb-3 pb-1" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                                    <span class="hero__title-line-1 font-weight-regular d-block text-primary">Mọi Vấn Để Thắc Mắc </span>
                                                    <span class="hero__title-line-2 font-weight-bold d-block">Hãy Liên Hệ</span>
                                                </h2>
                                                <a href="/ContactUs/Index" class="banner_btn btn btn-wide bg-dark rounded-0 text-white" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Thông Tin</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="400">
                                        <img src="~/assets/img/ImagesHeader/bg5.png" class="img-fluid" alt="image-description">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-xl-2">
                                <div class="row mx-0 mx-md-3">
                                    <div class="col-lg-8 col-wd-6">
                                        <div class="media d-block d-lg-flex">
                                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                                <h6 class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">THE MANGA WORLD</h6>
                                                <h2 class="font-size-12 mb-3 pb-1" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
                                                    <span class="hero__title-line-1 font-weight-regular d-block text-primary">Trở Thành Hội Viên </span>
                                                    <span class="hero__title-line-2 font-weight-bold d-block">Của Chúng Tôi</span>
                                                </h2>
                                                <a href="/Auth/Dangnhap" class="banner_btn btn btn-wide bg-dark rounded-0 text-white" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Tại Đây</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-wd-6" data-scs-animation-in="fadeInRight" data-scs-animation-delay="400">
                                        <img src="~/assets/img/ImagesHeader/bg2 .png" class="img-fluid" alt="image-description">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
            <style>
                .dropdown-menu > li > a {
                    padding: 3px 20px;
                }

                .dropdown-divider {
                    border-top: 1px solid #ccc;
                }
            </style>


