<!DOCTYPE html>
<html lang="en">
<head>

    <title>Xác Nhận Đơn Hàng | Manga World</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="~/assets/Logo2.ico">
    <link rel="icon" href="~/assets/Logo2.ico" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/vendor/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="../../assets/css/theme.css">
</head>
<body>
    <div class="page-header border-bottom">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4">
                <h1 class="page-title font-size-3 font-weight-medium m-0 text-lh-lg">Xác Nhận Đơn Hàng </h1>
                <nav class="woocommerce-breadcrumb font-size-2">
                    <a href="/Kind/Index" class="h-primary">Thể Loại</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>
                    <a href="/GioHang/Giohang" class="h-primary">Giỏ Hàng</a>
                    <span class="breadcrumb-separator mx-1"><i class="fas fa-angle-right"></i></span>Xác Nhận Đơn Hàng 
                </nav>
            </div>
        </div>
    </div>

    @RenderBody()
</body>

</html>