<!DOCTYPE html>
<html lang="en">
<head>

    <title>Mua Hàng | Manga World</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="~/assets/Logo2.ico">
    <link rel="icon" href="~/assets/Logo2.ico" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../assets/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/vendor/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../../assets/vendor/animate.css/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="../../assets/css/theme.css">
</head>
<body>
    @RenderBody()
    <footer class="site-footer_v7">
        <div class="space-1 space-lg-3 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="mb-5 mb-lg-0">
                            <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Thông Tin</h4>
                            <address class="font-size-2 mb-5">
                                <span class="mb-2 font-weight-normal text-white">
                                    497 Phan Van Tri , Go Vap  <br> VietNam
                                </span>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="mb-5 mb-lg-0">
                            <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Liên Hệ</h4>
                            <div class="mb-4">
                                <a href="https://myaccount.google.com/?hl=vi&utm_source=OGB&utm_medium=act" class="font-size-2 d-block mb-1 text-white">hoangdanghuy222@gmail.com</a>
                                <a href="tel:0836841560" class="font-size-2 d-block text-white">
                                    0836841560
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="mb-5 mb-lg-0">
                            <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Theo Dõi</h4>
                            <ul class="list-unstyled mb-0 d-flex">
                                <li class="btn pl-0">
                                    <a class="text-white" href="https://www.instagram.com/_emoghl/">
                                        <span class="fab fa-instagram"></span>
                                    </a>
                                </li>
                                <li class="btn">
                                    <a class="text-white" href="https://www.facebook.com/huydang2805/">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li class="btn">
                                    <a class="text-white" href="https://twitter.com/Zen_Habuto">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3 bg-black">
            <div class="container py-1">
                <div class="d-md-flex text-center text-md-left justify-content-between align-items-center">

                    <p class="mb-3 mb-lg-0 font-size-2 text-gray-500">©2022 MangaWorld . Thiên Đường Truyện Tranh</p>

                    <div class="d-md-flex justify-content-md-end align-items-center">

                        <select class="js-select selectpicker dropdown-select" data-style="bg-transparent border-0 text-gray-500 px-4 py-2 rounded-0 height-5 outline-none shadow-none form-control font-size-2" data-dropdown-align-right="true">
                            <option value="one" selected>Hoàng Đăng Huy (Nhóm 7)</option>
                            <option value="two">Vũ Luân</option>
                            <option value="three">Công Minh</option>
                            <option value="four">Phạm Vũ</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>