
<footer class="site-footer_v7">
    <div class="space-1 space-lg-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="mb-5 mb-lg-0">
                        <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Store</h4>
                        <address class="font-size-2 mb-5">
                            <span class="mb-2 font-weight-normal text-white">
                                1418 River Drive, Suite 35 Cottonhall, CA 9622 <br> United States
                            </span>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="mb-5 mb-lg-0">
                        <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Contact</h4>
                        <div class="mb-4">
                            <a href="mailto:sale@bookworm.com" class="font-size-2 d-block mb-1 text-white">sale@bookworm.com</a>
                            <a href="tel:+1246-345-0695" class="font-size-2 d-block text-white">
                                +1 246-345-0695
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="mb-5 mb-lg-0">
                        <h4 class="font-size-3 font-weight-medium mb-2 mb-xl-5 pb-xl-1 text-gray-500">Follow</h4>
                        <ul class="list-unstyled mb-0 d-flex">
                            <li class="btn pl-0">
                                <a class="text-white" href="home-v8.html#">
                                    <span class="fab fa-instagram"></span>
                                </a>
                            </li>
                            <li class="btn">
                                <a class="text-white" href="home-v8.html#">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="btn">
                                <a class="text-white" href="home-v8.html#">
                                    <span class="fab fa-youtube"></span>
                                </a>
                            </li>
                            <li class="btn">
                                <a class="text-white" href="home-v8.html#">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="btn">
                                <a class="text-white" href="home-v8.html#">
                                    <span class="fab fa-pinterest"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="pl-lg-7">
                        <div class="mb-5">
                            <h5 class="font-size-3 font-weight-medium text-gray-500 mb-2 mb-xl-5 pb-xl-1">
                                Join Our Newsletter
                            </h5>
                        </div>
                        <form class="js-validate js-form-message border" novalidate="novalidate">
                            <div class="input-group">
                                <input type="email" class="form-control placeholder-color-2 py-4d75 font-size-2 pl-4 border-0 rounded-0 bg-dark" name="email" id="subscribeSrEmail" placeholder="Enter email" aria-label="Your email" aria-describedby="subscribeButton" required="" data-msg="Please enter a valid email address.">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-white bg-white px-3 font-size-4 border-0 rounded-0" id="subscribeButton">
                                        <span class="flaticon-send mx-1"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="py-3 bg-black">
        <div class="container py-1">
            <div class="d-md-flex text-center text-md-left justify-content-between align-items-center">

                <p class="mb-3 mb-lg-0 font-size-2 text-gray-500">©2020 Book Worm. All rights reserved</p>

                <div class="d-md-flex justify-content-md-end align-items-center">

                    <select class="js-select selectpicker dropdown-select" data-style="bg-transparent border-0 text-gray-500 px-4 py-2 rounded-0 height-5 outline-none shadow-none form-control font-size-2" data-dropdown-align-right="true">
                        <option value="one" selected>English (United States)</option>
                        <option value="two">Deutsch</option>
                        <option value="three">Français</option>
                        <option value="four">Español</option>
                    </select>


                    <select class="js-select selectpicker dropdown-select ml-md-3" data-style="bg-transparent border-0 text-gray-500 px-4 py-2 rounded-0 height-5 outline-none shadow-none form-control font-size-2" data-dropdown-align-right="true" data-width="fit">
                        <option value="one" selected>$ USD</option>
                        <option value="two">€ EUR</option>
                        <option value="three">₺ TL</option>
                        <option value="four">₽ RUB</option>
                    </select>

                </div>
            </div>
        </div>
    </div>
</footer>
