USE [master]
GO
/****** Object:  Database [ComicTruyen]    Script Date: 2/23/2023 3:57:45 PM ******/
CREATE DATABASE [ComicTruyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComicTruyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\ComicTruyen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComicTruyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\ComicTruyen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComicTruyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComicTruyen]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[UserAdmin] [varchar](30) NOT NULL,
	[PassAdmin] [varchar](30) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BanChay]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanChay](
	[MaBanChay] [int] NOT NULL,
	[BanChay] [nvarchar](50) NULL,
 CONSTRAINT [PK_BanChay] PRIMARY KEY CLUSTERED 
(
	[MaBanChay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MaDonHang] [int] NOT NULL,
	[MaTruyen] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Dongia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CHITIETDONHANG_1] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[Dathanhtoan] [bit] NULL,
	[Tinhtranggiaohang] [bit] NULL,
	[Ngaydat] [datetime] NULL,
	[Ngaygiao] [datetime] NULL,
	[MaUser] [int] NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIá]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIá](
	[MaGia] [int] NOT NULL,
	[GiaTri] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIá] PRIMARY KEY CLUSTERED 
(
	[MaGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTruyen]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTruyen](
	[IdGia] [int] IDENTITY(1,1) NOT NULL,
	[MaGia] [int] NULL,
	[MaTruyen] [int] NULL,
 CONSTRAINT [PK_GiaTruyen] PRIMARY KEY CLUSTERED 
(
	[IdGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDBanChay]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDBanChay](
	[idBanChay] [int] NOT NULL,
	[MaBanChay] [int] NULL,
	[MaTruyen] [int] NULL,
 CONSTRAINT [PK_IDBanChay] PRIMARY KEY CLUSTERED 
(
	[idBanChay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IDNoiBat]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IDNoiBat](
	[idNoiBat] [int] NOT NULL,
	[MaNoiBat] [int] NULL,
	[MaTruyen] [int] NULL,
 CONSTRAINT [PK_IDNoiBat] PRIMARY KEY CLUSTERED 
(
	[idNoiBat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MACOMIC]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MACOMIC](
	[MC] [int] IDENTITY(1,1) NOT NULL,
	[MaTL] [int] NOT NULL,
	[MaTruyen] [int] NOT NULL,
 CONSTRAINT [PK_MaComic] PRIMARY KEY CLUSTERED 
(
	[MC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAQUANHE]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAQUANHE](
	[MaQH] [int] IDENTITY(1,1) NOT NULL,
	[MaNXB] [int] NULL,
	[MaTruyen] [int] NULL,
 CONSTRAINT [PK_MAQUANHE] PRIMARY KEY CLUSTERED 
(
	[MaQH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MaNXB] [int] NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiBat]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiBat](
	[MaNoiBat] [int] NOT NULL,
	[NoiBat] [nvarchar](50) NULL,
 CONSTRAINT [PK_NoiBat] PRIMARY KEY CLUSTERED 
(
	[MaNoiBat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUYEN]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUYEN](
	[MaTruyen] [int] NOT NULL,
	[TenTruyen] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[Anhbia] [nvarchar](50) NULL,
	[Giaban] [nvarchar](50) NULL,
	[Soluongton] [nvarchar](50) NULL,
	[Ngaycapnhat] [datetime] NULL,
 CONSTRAINT [PK_TRUYEN] PRIMARY KEY CLUSTERED 
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/23/2023 3:57:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[MaUser] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Matkhau] [varchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[Sodienthoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DONDATHANG] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DONDATHANG] ([MaDonHang])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_TRUYEN1] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[TRUYEN] ([MaTruyen])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_TRUYEN1]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[User] ([MaUser])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_User]
GO
ALTER TABLE [dbo].[GiaTruyen]  WITH CHECK ADD  CONSTRAINT [FK_GiaTruyen_GIá] FOREIGN KEY([MaGia])
REFERENCES [dbo].[GIá] ([MaGia])
GO
ALTER TABLE [dbo].[GiaTruyen] CHECK CONSTRAINT [FK_GiaTruyen_GIá]
GO
ALTER TABLE [dbo].[GiaTruyen]  WITH CHECK ADD  CONSTRAINT [FK_GiaTruyen_TRUYEN] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[TRUYEN] ([MaTruyen])
GO
ALTER TABLE [dbo].[GiaTruyen] CHECK CONSTRAINT [FK_GiaTruyen_TRUYEN]
GO
ALTER TABLE [dbo].[IDBanChay]  WITH CHECK ADD  CONSTRAINT [FK_IDBanChay_BanChay] FOREIGN KEY([MaBanChay])
REFERENCES [dbo].[BanChay] ([MaBanChay])
GO
ALTER TABLE [dbo].[IDBanChay] CHECK CONSTRAINT [FK_IDBanChay_BanChay]
GO
ALTER TABLE [dbo].[IDBanChay]  WITH CHECK ADD  CONSTRAINT [FK_IDBanChay_TRUYEN] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[TRUYEN] ([MaTruyen])
GO
ALTER TABLE [dbo].[IDBanChay] CHECK CONSTRAINT [FK_IDBanChay_TRUYEN]
GO
ALTER TABLE [dbo].[IDNoiBat]  WITH CHECK ADD  CONSTRAINT [FK_IDNoiBat_NoiBat] FOREIGN KEY([MaNoiBat])
REFERENCES [dbo].[NoiBat] ([MaNoiBat])
GO
ALTER TABLE [dbo].[IDNoiBat] CHECK CONSTRAINT [FK_IDNoiBat_NoiBat]
GO
ALTER TABLE [dbo].[IDNoiBat]  WITH CHECK ADD  CONSTRAINT [FK_IDNoiBat_TRUYEN] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[TRUYEN] ([MaTruyen])
GO
ALTER TABLE [dbo].[IDNoiBat] CHECK CONSTRAINT [FK_IDNoiBat_TRUYEN]
GO
ALTER TABLE [dbo].[MACOMIC]  WITH CHECK ADD  CONSTRAINT [FK_MaComic_THELOAI] FOREIGN KEY([MaTL])
REFERENCES [dbo].[THELOAI] ([MaTL])
GO
ALTER TABLE [dbo].[MACOMIC] CHECK CONSTRAINT [FK_MaComic_THELOAI]
GO
ALTER TABLE [dbo].[MACOMIC]  WITH CHECK ADD  CONSTRAINT [FK_MaComic_TRUYEN] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[TRUYEN] ([MaTruyen])
GO
ALTER TABLE [dbo].[MACOMIC] CHECK CONSTRAINT [FK_MaComic_TRUYEN]
GO
ALTER TABLE [dbo].[MAQUANHE]  WITH CHECK ADD  CONSTRAINT [FK_MAQUANHE_NHAXUATBAN] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])
GO
ALTER TABLE [dbo].[MAQUANHE] CHECK CONSTRAINT [FK_MAQUANHE_NHAXUATBAN]
GO
ALTER TABLE [dbo].[MAQUANHE]  WITH CHECK ADD  CONSTRAINT [FK_MAQUANHE_TRUYEN] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[TRUYEN] ([MaTruyen])
GO
ALTER TABLE [dbo].[MAQUANHE] CHECK CONSTRAINT [FK_MAQUANHE_TRUYEN]
GO
USE [master]
GO
