
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layoutxndh.cshtml";
}

<h2>Chúng tôi đã nhận được thông tin đơn hàng của quý khách , chúng tôi sẽ  giao hàng trong thời gian sớm nhất , xin cám ơn </h2>
<p>
    <a href="@Url.Action("Index","Kind")"style="margin-left: 1600px;"> Đồng Ý </a>
</p>
<style>
    h2, .h2 {
        margin-left: 200px;
        margin-right: 200px;
        font-size : 1.5rem;
    }
</style>
